<div fxlayout fxLayoutAlign="center center">
<mat-card fxLayout="column" fxFlex="400px"  fxLayoutGap="20px" fxFlex.lt-sm="90%" fxLayoutAlign="center center">
  <mat-card-header fxlayout fxLayoutAlign="center center">
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <form class="loginForm" fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" id=" " formControlName="email" placeholder="Email">
      <mat-error *ngIf="loginForm.get('email').invalid">Ungültige Email</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Passwort</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Passwort">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Submit</button>
  </form>
  <mat-card-footer>
    <mat-card-actions>
      <mat-spinner diameter="50" *ngIf="isLoading$ | async"></mat-spinner>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
</div>






