<mat-toolbar>
  <div>
    <a class="logo" routerLink="/">FoodCloud</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end">
    <ul fxLayout fxLayoutGap="20px" class="nav-items">
      <div fxLayout *ngIf="isAuth" >
        <li>
          <mat-slide-toggle #online color="primary" checked="true">{{online.checked? 'online' : 'offline'}}</mat-slide-toggle>
        </li>
        <li>
          <button mat-button (click)="logOut()">Sign Out</button>
        </li>
      </div>
      <li *ngIf="!isAuth">
        <button mat-button (click)="navToLogin()">Log In</button>
      </li>
    </ul>
  </div>
</mat-toolbar>



